@import url(../node_modules/toastr/build/toastr.min.css);
@import url(../node_modules/react-select/dist/react-select.css);
.players-grid-wrapper {
  display: flex;
  justify-content: center; }

.players-grid {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center; }

.placeholder-card {
  width: 170px; }

.player-card-container {
  width: 160px;
  padding: 5px;
  margin-top: 10px; }

.player-image, .player-image-highlight {
  background-color: white;
  display: block;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #47515d;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin: 10px auto 10px auto; }

.allow-hover:hover {
  transform: scale(1.03);
  transition-duration: 0.4s;
  border-color: #EDEDEB; }

.player-image-highlight {
  border-color: #ff7d08; }

.voting-percent-indicator, .voting-percent-indicator-highlight {
  background-color: #d8d8d8;
  color: black;
  border-radius: 3px;
  display: inline-block;
  padding: 1px 5px;
  font-size: 10px;
  position: absolute;
  transform: translateY(5px) translateX(-18px);
  z-index: 2; }

.voting-percent-indicator-highlight {
  color: white;
  background-color: #ff7d08; }

.your-selection-label {
  color: white;
  background-color: #ff7d08;
  border-radius: 3px;
  display: inline-block;
  padding: 1px 5px;
  font-size: 10px;
  position: absolute;
  transition-duration: 0.4s;
  transform: translateY(-20px) translateX(-34px);
  z-index: 2; }

.player-name {
  padding: 5px 0 5px 0;
  font-size: 16px;
  font-weight: 700; }

.player-message {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.428571428571429;
  padding: 5px 0 5px 0; }

.region-selector-container {
  margin-left: auto;
  margin-right: auto; }
  .region-selector-container .description {
    padding: 5px 0 5px 0; }
  .region-selector-container .gray-text {
    color: gray; }

.region-selector-buttons-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 10px auto 10px auto; }

.region-button, .region-button-selected, .region-button:hover {
  width: 140px;
  height: 30px;
  line-height: 30px;
  background-color: #d8d8d8;
  color: #23292f;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 700;
  margin: 5px 10px 5px 10px; }

.region-button-selected, .region-button:hover {
  background-color: #ff7d08;
  color: white; }

.toggle-admin-button, .toggle-admin-button:hover {
  width: 140px;
  height: 30px;
  line-height: 30px;
  background-color: #d8d8d8;
  color: #23292f;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 700;
  margin: 5px 10px 5px 10px; }

.toggle-admin-button:hover {
  background-color: #ff7d08;
  color: white; }

.voting-page-title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px; }

.navbar {
  overflow: hidden;
  background: linear-gradient(180deg, #ffab40, #ff9100);
  height: 30px;
  line-height: 30px;
  margin-bottom: 50px;
  text-align: left; }

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-decoration: none; }

.dropdown {
  float: right;
  overflow: hidden;
  width: 120px;
  border-left: 1px solid #ba6108; }

.dropdown:hover {
  background-color: #ededed; }

.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  font-family: inherit;
  font-weight: 700;
  margin: 0;
  padding: 0 10px 0 10px; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff7d08;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  float: none;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  border-top: 1px solid #ba6108; }

.dropdown-content a span {
  padding: 0 10px 0 10px; }

.dropdown-content a:hover {
  background-color: #ffab40; }

.dropdown:hover .dropdown-content {
  display: block; }

html {
  background-color: #2f353d; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ededed;
  text-align: center; }

* {
  margin: 0;
  padding: 0; }
