@import "../node_modules/toastr/build/toastr.min.css";
@import "../node_modules/react-select/dist/react-select.css";
@import "styles/layout/playersGrid.scss";
@import "styles/layout/playerCard.scss";
@import "styles/layout/regionSelectorSection.scss";
@import "styles/layout/toggleAdminButton.scss";
@import "styles/layout/votingPage.scss";
@import "styles/layout/navigationBar.scss";

html {
    background-color:#2f353d;

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ededed;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}