@import url(../node_modules/toastr/build/toastr.min.css);
@import url(../node_modules/react-select/dist/react-select.css);
.blurry {
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px); }

ul {
  list-style: none;
  display: grid;
  margin: 0 0;
  padding: 1rem; }

.thumbnail-list img {
  background-color: white;
  display: block;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #47515d;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); }

.thumbnail-list img:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
  border-color: #EDEDEB; }

ul {
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 4px; }
  ul li {
    grid-column: span 2;
    grid-row: span 2; }

.blurry {
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.voting-percent-indicator {
  background-color: #d8d8d8;
  color: black;
  border-radius: 3px;
  display: inline-block;
  padding: 1px 5px;
  font-size: 10px; }

.region-selector-container {
  margin-left: auto;
  margin-right: auto; }

.region-selector-buttons-panel {
  display: grid;
  grid-template-columns: auto auto;
  width: 300px;
  margin-left: auto;
  margin-right: auto; }

.region-button {
  width: 140px;
  height: 30px;
  line-height: 30px;
  background-color: #d8d8d8;
  color: #23292f;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto; }

.region-button-selected, .region-button:hover {
  width: 140px;
  height: 30px;
  line-height: 30px;
  background-color: #ff7d08;
  color: white;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 700; }

.voting-page-title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px; }

.voting-page-container {
  margin-top: 40px; }

html {
  background-color: #2f353d; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ededed;
  text-align: center; }
