.players-grid-wrapper {
  display: flex;
  justify-content: center; }

.players-grid {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center; }

.placeholder-card {
  width: 170px; }
