.toggle-admin-button, .toggle-admin-button:hover {
  width: 140px;
  height: 30px;
  line-height: 30px;
  background-color: #d8d8d8;
  color: #23292f;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 700;
  margin: 5px 10px 5px 10px; }

.toggle-admin-button:hover {
  background-color: #ff7d08;
  color: white; }
