.player-card-container {
    width: 160px;
    padding: 5px;
    margin-top: 10px;
}

.player-image {
    background-color: white;
    display: block;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid rgb(71, 81, 93);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
    margin: 10px auto 10px auto;
}

.allow-hover:hover {
    transform: scale(1.03);
    transition-duration: 0.4s;
    border-color: #EDEDEB;
}

.player-image-highlight {
    @extend .player-image;
    border-color: rgb(255, 125, 8);
}

.voting-percent-indicator {
    background-color: rgb(216, 216, 216);
    color: black;
    border-radius: 3px;
    display: inline-block;
    padding: 1px 5px;
    font-size: 10px;
    position:absolute;
    transform: translateY(5px) translateX(-18px);
    z-index: 2;
}

.voting-percent-indicator-highlight {
    @extend .voting-percent-indicator;
    color: white;
    background-color: rgb(255, 125, 8);
}

.your-selection-label {
    color: white;
    background-color: rgb(255, 125, 8);
    border-radius: 3px;
    display: inline-block;
    padding: 1px 5px;
    font-size: 10px;
    position:absolute;
    transition-duration: 0.4s;
    transform: translateY(-20px) translateX(-34px);
    z-index: 2;
}

.player-name {
    padding: 5px 0 5px 0;
    font-size: 16px;
    font-weight: 700;
}

.player-message {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.428571428571429;
    padding: 5px 0 5px 0;
}