.region-selector-container {
    margin-left: auto;
    margin-right: auto;

    .title {
        padding: 5px 0 5px 0;
    }
}

.region-selector-buttons-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 10px auto 10px auto;
}

.region-button {
    width: 140px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(216, 216, 216);
    color: rgb(35, 41, 47);
    font-size: 12px;
    border-radius: 3px;
    font-weight: 700;
    margin: 5px 10px 5px 10px;
}

.region-button:hover {
    @extend .region-button-selected;
}

.region-button-selected {
    @extend .region-button;
    background-color: rgb(255, 125, 8);
    color: white;
}
