.toggle-admin-button {
    width: 140px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(216, 216, 216);
    color: rgb(35, 41, 47);
    font-size: 12px;
    border-radius: 3px;
    font-weight: 700;
    margin: 5px 10px 5px 10px;
}

.toggle-admin-button:hover {
    @extend .toggle-admin-button;
    background-color: rgb(255, 125, 8);
    color: white;
}